[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
python-docx = "*"
PyPDF2 = "*"
openpyxl = "*"
pytest = "*"
pandas = "*"
exceptiongroup = "*"

[requires]
python_version = "3.10"
